
@model DivineMonad.Models.ItemStats




<h2>This is View Component</h2>

<div>
    ID: @ViewData["id"]
    <h4>Item Stats</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stamina):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stamina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Strength):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
    </dl>
</div>
