@model IEnumerable<DivineMonad.Models.CharacterItems>

@{
    ViewData["Title"] = "Characters items";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@functions {
    public string FindCharacter(string id)
    {
        return (from character in ViewData["Characters"] as SelectList
                where character.Value == id
                select character.Text).FirstOrDefault();
    }

    public string FindItem(string id)
    {
        return (from item in ViewData["Items"] as SelectList
                where item.Value == id
                select item.Text).FirstOrDefault();
    }
}

<h1>Characters items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="horizontal-scroll">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Character Name
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Equipped
                </th>
                <th>
                    BackpackId
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-controller="Characters" asp-action="Details" asp-route-id="@item.CharacterId">
                        @FindCharacter(item.CharacterId.ToString())
                    </a>
                </td>
                <td>
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId">
                        @FindItem(item.ItemId.ToString())
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEquipped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BpSlotId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Back to Admin home page</a>
