@model DivineMonad.Models.Backpack

@{ 
    Layout = "_SubLayout";

    Item item;
    CharacterItems cItem;
    string emptySlot = "";
}

@functions {
    public string GetUrl(int id, out string emptySlot)
    {
        CharacterItems tempCItem = Model.CharacterItemsList.FirstOrDefault(i => i.BpSlotId == id && i.IsEquipped == true);
        if(!(tempCItem is null))
        {
            Item tempItem = Model.ItemsList.FirstOrDefault(i => i.ID == tempCItem.ItemId);
            if(!(tempItem is null))
            {
                emptySlot = "";
                return tempItem.ImageUrl;
            }
            emptySlot = "empty-slot";
            return "~/images/bg_item.png";
        }
        emptySlot = "empty-slot";
        return "~/images/bg_item.png";
    }
}

<div class="game-content-backpack">
    <div class="row">
        <div class="col-5 offset-1 equipment">
            <div class="row">
                <div class="col-4 offset-4 item-slot">
                    <img src="@Url.Content(GetUrl(1, out emptySlot))" class="img-item @emptySlot" alt="item" id="1">
                </div>
                <div class="col-4 item-slot">
                    <img src="@Url.Content(GetUrl(2, out emptySlot))" class="img-item @emptySlot" alt="item" id="2">
                </div>
            </div>
            <div class="row">
                <div class="col-4 item-slot">
                    <img src="@Url.Content(GetUrl(3, out emptySlot))" class="img-item @emptySlot" alt="item" id="3">
                </div>
                <div class="col-4 item-slot">
                    <img src="@Url.Content(GetUrl(4, out emptySlot))" class="img-item @emptySlot" alt="item" id="4">
                </div>
                <div class="col-4 item-slot">
                    <img src="@Url.Content(GetUrl(5, out emptySlot))" class="img-item @emptySlot" alt="item" id="5">
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 item-slot">
                    <img src="@Url.Content(GetUrl(6, out emptySlot))" class="img-item @emptySlot" alt="item" id="6">
                </div>
            </div>
        </div>
        <div class="col-5 stats medium-border offset-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 backpack medium-border">
            <div class="row">
                @for (int slotId = 7; slotId <= Model.Character.CBStats.BpSlots + 6; slotId++)
                {
                    cItem = Model.CharacterItemsList.FirstOrDefault(i => i.BpSlotId == slotId && i.IsEquipped == false);
                    if (!(cItem is null))
                    {
                        item = Model.ItemsList.FirstOrDefault(i => i.ID == cItem.ItemId);
                        if (!(item is null))
                        {
                            <div class="col-2 item-slot">
                                <img src="@Url.Content(item.ImageUrl)" class="img-item" alt="item" id="@slotId">
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-2 item-slot">
                            <img src="@Url.Content("~/images/bg_item.png")" class="img-item empty-slot" alt="item" id="@slotId">
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $("#game-backpack .item-slot").click(function (e) {
                if ($(e.target).hasClass("empty-slot")) {
                    if ($(".img-item").hasClass("active-item")) {
                        let data = { cId: @Model.Character.ID, from: $(".active-item").attr("id"), to: e.target.id, isEmpty: true };
                        $.ajax({
                            url: "/Game/SlotsChange",
                            data: data,
                            success: function (data) {
                                if (data.valid) {
                                    console.log(data.option + ": " + data.from + " | " + data.to);

                                    let tempSrcFrom = $("#" + data.from).attr("src");
                                    let tempSrcTo = $("#" + data.to).attr("src");
                                    $("#" + data.from).attr("src", tempSrcTo);
                                    $("#" + data.to).attr("src", tempSrcFrom);
                                    $("#" + data.from).addClass("empty-slot");
                                    $("#" + data.to).removeClass("empty-slot");
                                }
                                else {
                                    console.log("NOT VALID!");
                                }
                            }
                        });


                        $(".img-item").removeClass("active-item");
                    } else {
                        console.log("Clicked slot: empty");
                    }
                } else {
                    if ($(".img-item").hasClass("active-item")) {
                        let data = { cId: @Model.Character.ID, from: $(".active-item").attr("id"), to: e.target.id, isEmpty: false };
                        $.ajax({
                            url: "/Game/SlotsChange",
                            data: data,
                            success: function (data) {
                                if (data.valid) {
                                    console.log(data.option + ": " + data.from + " | " + data.to);

                                    let tempSrcFrom = $("#" + data.from).attr("src");
                                    let tempSrcTo = $("#" + data.to).attr("src");
                                    $("#" + data.from).attr("src", tempSrcTo);
                                    $("#" + data.to).attr("src", tempSrcFrom);
                                }
                                else {
                                    console.log("NOT VALID!");
                                }
                            }
                        });

                        $(".img-item").removeClass("active-item");
                    } else {
                        let data = { cId: @Model.Character.ID, bpSlotId: e.target.id };
                        $.ajax({
                            url: "/Game/ItemInfo",
                            data: data,
                            success: function (data) {
                                $(".stats").html(data);
                            }
                        });
                        $(e.target).addClass("active-item");
                    }
                }
            });

            $("#game-backpack .game-plane").click(function (e) {
                if (!$(e.target).hasClass("img-item")) {
                    $(".img-item").removeClass("active-item");
                }
            });
        });
    </script>
}