@{ 
    Layout = "_SubLayout";
}

<div class="game-content-backpack">
    <div class="row">
        <div class="col-5 offset-1 equipment">
            <div class="row">
                <div class="col-4 offset-4 test">
                    <img src="@Url.Content("~/images/green/helmet/ExpertHunterHat.png")" class="img-item" alt="item">
                </div>
                <div class="col-4 test">
                    <img src="@Url.Content("~/images/green/gloves/Hunter.png")" class="img-item" alt="item">
                </div>
            </div>
            <div class="row">
                <div class="col-4 test">
                    <img src="@Url.Content("~/images/green/MeleeWeapon1H/ShortDagger_[Paint].png")" class="img-item" alt="item">
                </div>
                <div class="col-4 test">
                    <img src="@Url.Content("~/images/green/armor/Hunter.png")" class="img-item" alt="item">
                </div>
                <div class="col-4 test">
                    <img src="@Url.Content("~/images/green/shields/WoodenBuckler.png")" class="img-item" alt="item">
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 test">
                    <img src="@Url.Content("~/images/green/boots/hunter.png")" class="img-item" alt="item">
                </div>
            </div>
        </div>
        <div class="col-5 stats"></div>
    </div>
    <div class="row">
        <div class="col-12 backpack"></div>
    </div>
</div>

@section Scripts{ 
    <script>
        $('button').click(function () {
            console.log("Backpack! Coming soon...");
        });
    </script>
}