@{ 
    Layout = "_SubLayout";
}

<div class="game-content-backpack">
    <div class="row">
        <div class="col-5 offset-1 equipment">
            <div class="row">
                <div class="col-4 offset-4 item-slot">
                    <img src="@Url.Content("~/images/green/helmet/ExpertHunterHat.png")" class="img-item" alt="item">
                </div>
                <div class="col-4 item-slot">
                    <img src="@Url.Content("~/images/green/gloves/Hunter.png")" class="img-item" alt="item">
                </div>
            </div>
            <div class="row">
                <div class="col-4 item-slot">
                    <img src="@Url.Content("~/images/green/MeleeWeapon1H/ShortDagger_[Paint].png")" class="img-item" alt="item">
                </div>
                <div class="col-4 item-slot">
                    <img src="@Url.Content("~/images/green/armor/Hunter.png")" class="img-item" alt="item">
                </div>
                <div class="col-4 item-slot">
                    <img src="@Url.Content("~/images/green/shields/WoodenBuckler.png")" class="img-item" alt="item">
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 item-slot">
                    <img src="@Url.Content("~/images/green/boots/hunter.png")" class="img-item" alt="item">
                </div>
            </div>
        </div>
        <div class="col-5 stats offset-1">
            <div class="row justify-content-center">
                <div class="col-4 font-weight-bold">
                    Attack:
                </div>
                <div class="col-4">
                    350
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 font-weight-bold">
                    Attack:
                </div>
                <div class="col-4">
                    350
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 font-weight-bold">
                    Attack:
                </div>
                <div class="col-4">
                    350
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 font-weight-bold">
                    Attack:
                </div>
                <div class="col-4">
                    350
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 font-weight-bold">
                    Attack:
                </div>
                <div class="col-4">
                    350
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 font-weight-bold">
                    Attack:
                </div>
                <div class="col-4">
                    350
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 backpack">
            <div class="row">
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
                <div class="col-2 item-slot">
                    <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $('img').click(function () {
        });
    </script>
}