@model DivineMonad.Models.Backpack

@{ 
    Layout = "_SubLayout";

    var slotId = 7;
}

<div class="game-content-backpack">
    <div class="row">
        <div class="col-5 offset-1 equipment">
            <div class="row">
                <div class="col-4 offset-4 item-slot" id="1">
                    <img src="@Url.Content("~/images/green/helmet/ExpertHunterHat.png")" class="img-item" alt="item">
                </div>
                <div class="col-4 item-slot" id="2">
                    <img src="@Url.Content("~/images/green/gloves/Hunter.png")" class="img-item" alt="item">
                </div>
            </div>
            <div class="row">
                <div class="col-4 item-slot" id="3">
                    <img src="@Url.Content("~/images/green/MeleeWeapon1H/ShortDagger_[Paint].png")" class="img-item" alt="item">
                </div>
                <div class="col-4 item-slot" id="4">
                    <img src="@Url.Content("~/images/green/armor/Hunter.png")" class="img-item" alt="item">
                </div>
                <div class="col-4 item-slot" id="5">
                    <img src="@Url.Content("~/images/green/shields/WoodenBuckler.png")" class="img-item" alt="item">
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 item-slot" id="6">
                    <img src="@Url.Content("~/images/green/boots/hunter.png")" class="img-item" alt="item">
                </div>
            </div>
        </div>
        <div class="col-5 stats offset-1">
            <div class="row justify-content-center">
                <div class="col-5 font-weight-bold">
                    Attack:
                </div>
                <div class="col-4">
                    121
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 font-weight-bold">
                    Agility:
                </div>
                <div class="col-4">
                    43
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 font-weight-bold">
                    Armor:
                </div>
                <div class="col-4">
                    120
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 font-weight-bold">
                    HitPoints:
                </div>
                <div class="col-4">
                    420
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 font-weight-bold">
                    Dodge:
                </div>
                <div class="col-4">
                    45
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 font-weight-bold">
                    Luck:
                </div>
                <div class="col-4">
                    12
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 backpack">
            <div class="row">
                @foreach (Item item in Model.ItemsList)
                {
                    <div class="col-2 item-slot" id="@slotId">
                        <img src="@Url.Content(item.ImageUrl)" class="img-item" alt="item">
                    </div>

                    slotId++;
                }

                @for (int i = slotId; i <= Model.Character.CBStats.BpSlots + 6; i++)
                {
                    <div class="col-2 item-slot" id="@i">
                        <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
                    </div>
                }


                @*                <div class="col-2 item-slot" id="7">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="8">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="9">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="10">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="11">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="12">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="13">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="14">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="15">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="16">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="17">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>
        <div class="col-2 item-slot" id="18">
            <img src="@Url.Content("~/images/bg_item.png")" class="img-item" alt="item">
        </div>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $('img').click(function () {
        });
    </script>
}