@model IEnumerable<DivineMonad.Models.Monster>

@{
    Layout = "_SubLayout";
}

<div class="game-content-battle" id="battle">
    <div class="row justify-content-center mb-3">
        <div class="col-1 pr-0">
            <div class="btn-svg"></div>
        </div>
        <div class="col-3 pl-0">
            <p>Quick fight</p>
        </div>
    </div>
    <div class="row">
        @foreach (Monster monster in Model)
        {
            <div class="card col-4">
                <img src="@Url.Content(monster.ImageUrl)" class="card-img-top" alt="@monster.Name">
                <div class="card-body small-border">
                    <p class="card-title">@monster.Name</p>
                    <p class="card-text">
                        @Html.DisplayNameFor(m => m.Level): @Html.DisplayFor(m => monster.Level)
                    </p>
                    <button id="@monster.ID-monster" type="button" class="btn-std mb-3">Attack</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var quickFightCookie = getCookie("quickFight");
            console.log(quickFightCookie);
            quickFightCookie = (quickFightCookie == "true");
            if (quickFightCookie == false) {
                $("#game-battle .btn-svg").addClass("far fa-square");
            } else {
                $("#game-battle .btn-svg").addClass("far fa-check-square");
            }

            $("#game-battle .btn-std").click(function () {
                let monsterId = this.id.split('-')[0];
                let componentId = "game-battle";
                let action = "Raport";
                let controller = "Game";
                let data = { cId: @ViewBag.cId, mId: monsterId, qf: quickFightCookie, isHistory: false };
                ReloadComponent(componentId, action, controller, data);
            });

            $("#game-battle .btn-svg").click(function () {
                if (quickFightCookie == false) {
                    $("#game-battle .btn-svg").removeClass("fa-square");
                    $("#game-battle .btn-svg").addClass("fa-check-square");
                    quickFightCookie = true;
                    document.cookie = "quickFight=true";
                } else {
                    $("#game-battle .btn-svg").removeClass("fa-check-square");
                    $("#game-battle .btn-svg").addClass("fa-square");
                    quickFightCookie = false;
                    document.cookie = "quickFight=false";
                }
            });
        });

    </script>
}