@model IEnumerable<DivineMonad.Models.Monster>

@{ 
    Layout = "_SubLayout";
}

<div class="game-content-battle row" id="battle">
    @foreach (Monster monster in Model)
    {
        <div class="card col-4">
            <img src="@Url.Content(monster.ImageUrl)" class="card-img-top" alt="@monster.Name">
            <div class="card-body">
                <p class="card-title">@monster.Name</p>
                <p class="card-text">
                    @Html.DisplayNameFor(m => m.Level): @Html.DisplayFor(m => monster.Level)
                </p>
                <button id="@monster.ID-monster" type="button" class="btn btn-primary">Attack</button>
            </div>
        </div>
    }

    @*<input id="attackBtn" type="button" value="Attack" class="btn btn-primary" style="margin: 50px;" />*@
</div>

@section Scripts{ 
    <script>
        $("button").click(function () {
            let monsterId = this.id.split('-')[0];
            let componentId = "battle";
            let action = "Raport";
            let controller = "Game";
            let data = { cId: @ViewBag.cId, mId: monsterId };
            ReloadComponent(componentId, action, controller, data);
        });
    </script>
}