@model DivineMonad.Engine.AdvanceStats

@{
    Layout = "_SubLayout";
}


<div class="game-content-character" style="margin: 40px 10px 10px 10px">
    <ul class="nav character-nav-tab" id="statsTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="base" aria-selected="true">Base</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">Advanced</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab" aria-controls="others" aria-selected="false">Others</a>
        </li>
    </ul>
    <div class="tab-content" id="statsTabContent">
        <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
            <div class="row mb-3">
                <div class="col-4 font-weight-bold offset-1 pl-4">
                    Basic Statistics
                </div>
                <div class="col-3 font-weight-bold offset-1">
                    Stats Points:
                </div>
                <div class="col-1">
                    @Html.DisplayFor(s => s.StatsPoints)
                </div>
            </div>
            <div class="row">
                <div class="col-3 font-weight-bold offset-1 pl-4">
                    @Html.DisplayNameFor(s => s.HitPoints):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.HitPoints)
                </div>
                <div class="col-2" id="hitpoints">
                    (+0)
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                <div class="col-3 font-weight-bold offset-1 pl-4">
                    @Html.DisplayNameFor(s => s.Attack):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Attack)
                </div>
                <div class="col-2" id="attack">
                    (+0)
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
                <div class="col-3 font-weight-bold offset-1 pl-4">
                    @Html.DisplayNameFor(s => s.Stamina):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Stamina)
                </div>
                <div class="col-2" id="stamina">
                    (+0)
                </div>
                <div class="col-2">
                    <button type="button" class="fas fa-plus-square plus stamina"></button>
                    <button type="button" class="fas fa-minus-square minus stamina"></button>
                </div>
            </div>
            <div class="row ">
                <div class="col-3 font-weight-bold offset-1 pl-4">
                    @Html.DisplayNameFor(s => s.Strength):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Strength)
                </div>
                <div class="col-2" id="strength">
                    (+0)
                </div>
                <div class="col-2">
                    <button type="button" class="fas fa-plus-square plus strength"></button>
                    <button type="button" class="fas fa-minus-square minus strength"></button>
                </div>
            </div>
            <div class="row ">
                <div class="col-3 font-weight-bold offset-1 pl-4">
                    @Html.DisplayNameFor(s => s.Agility):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Agility)
                </div>
                <div class="col-2" id="agility">
                    (+0)
                </div>
                <div class="col-2">
                    <button type="button" class="fas fa-plus-square plus agility"></button>
                    <button type="button" class="fas fa-minus-square minus agility"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 font-weight-bold offset-1 pl-4">
                    @Html.DisplayNameFor(s => s.Dexterity):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Dexterity)
                </div>
                <div class="col-2" id="dexterity">
                    (+0)
                </div>
                <div class="col-2">
                    <button type="button" class="fas fa-plus-square plus dexterity"></button>
                    <button type="button" class="fas fa-minus-square minus dexterity"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 font-weight-bold offset-1 pl-4">
                    @Html.DisplayNameFor(s => s.Luck):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Luck)
                </div>
                <div class="col-2" id="luck">
                    (+0)
                </div>
                <div class="col-2">
                    <button type="button" class="fas fa-plus-square plus luck"></button>
                    <button type="button" class="fas fa-minus-square minus luck"></button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.AttackMin):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.AttackMin)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.AttackMax):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.AttackMax)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.Armor):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Armor)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.DmgRed):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.DmgRed)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.Block):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Block)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.BlockPr):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.BlockPr)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.Dodge):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Dodge)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.DodgePr):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.DodgePr)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.Accuracy):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Accuracy)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.Speed):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.Speed)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.CritChance):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.CritChance)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.CritPr):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.CritPr)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 font-weight-bold">
                    @Html.DisplayNameFor(s => s.ExtraDropPr):
                </div>
                <div class="col-2">
                    @Html.DisplayFor(s => s.ExtraDropPr)
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
            @foreach (var prop in typeof(DivineMonad.Models.GameStats).GetProperties())
            {
                if (prop.Name.ToString() != "ID")
                {
                    <div class="row justify-content-center">
                        <div class="col-3 font-weight-bold">
                            @prop.Name:
                        </div>
                        <div class="col-2 pl-5">
                            @prop.GetValue(Model.GameStats)
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


@section Scripts{
    <script>
    </script>
}
