@model DivineMonad.Engine.AdvanceStats

@{
    Layout = "_SubLayout";
    string propValue;
    string propName;
}


<div>
    @foreach (var prop in typeof(DivineMonad.Engine.AdvanceStats).GetProperties())
    {
        <div class="row justify-content-center">
            <div class="col-3 font-weight-bold">
                @prop.Name:
            </div>
            <div class="col-2">
                @{
                    propValue = prop.GetValue(Model).ToString();
                    propName = prop.Name;
                }

                @if (propName.Equals("CritPr"))
                {
                    @Html.DisplayFor(x => x.CritPr);
                }
                else if (propName.Equals("DodgePr"))
                {
                    @Html.DisplayFor(x => x.DodgePr);
                }
                else if (propName.Equals("BlockPr"))
                {
                    @Html.DisplayFor(x => x.BlockPr);
                }
                else if (propName.Equals("ExtraDropPr"))
                {
                    @Html.DisplayFor(x => x.ExtraDropPr);
                }
                else
                {
                    @Html.DisplayFor(x => propValue);
                }
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
    </script>
}