@model DivineMonad.Models.Character

@{ 
    double expP = Model.CBStats.Experience / (int)ViewData["reqExp"];
}


<div class="game-page">
    <div class="game-container">
        <section class="game-sidebar-character">
            <div class="small-background">
                <div class="head"></div>
                <div class="top-left"></div>
                <div class="top-middle"></div>
                <div class="top-right"></div>
                <div class="middle-left" style="height: 360px;"></div>
                <div class="middle-right" style="height: 360px;"></div>
                <div class="bottom-left" style="margin-top: 347px"></div>
                <div class="bottom-middle" style="margin-top: 373px"></div>
                <div class="bottom-right" style="margin-top: 347px"></div>
            </div>
            <div class="game-avatar">
                <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                     class="character-avatar" alt="avatar">
            </div>
            <div class="game-character-info">
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Name</legend>
                    <div class="background">
                        <p>@Model.Name</p>
                        <div class="custom-border"></div>
                    </div>


                </fieldset>
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Level</legend>
                    <div class="background">
                        <p>@Model.CBStats.Level</p>
                        <div class="custom-border"></div>
                    </div>
                </fieldset>
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Experience</legend>
                    <div class="background">    
                        <p>@Model.CBStats.Experience / @ViewData["reqExp"]</p>
                        <div class="custom-border"></div>
                    </div>
                </fieldset>
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Gold</legend>
                    <div class="background">
                        <p>@Model.CBStats.Gold</p>
                        <div class="custom-border"></div>
                    </div>
                </fieldset>
            </div>
        </section>
        <section class="game-sidebar-menu">
            <div class="small-background">
                <div class="head"></div>
                <div class="top-left"></div>
                <div class="top-middle"></div>
                <div class="top-right"></div>
                <div class="middle-left" style="height: 280px;"></div>
                <div class="middle-right" style="height: 280px;"></div>
                <div class="bottom-left" style="margin-top: 254px"></div>
                <div class="bottom-middle" style="margin-top: 280px"></div>
                <div class="bottom-right" style="margin-top: 254px"></div>
            </div>
            <div class="list-group" id="list-tab" role="tablist">
                <a id="game-character-btn" data-toggle="list" href="#game-character" role="tab" aria-controls="game-character">Character</a>
                <a id="game-backpack-btn" data-toggle="list" href="#game-backpack" role="tab" aria-controls="game-backpack">Backpack</a>
                <a id="game-battle-btn" data-toggle="list" href="#game-battle" role="tab" aria-controls="game-battle">Battle</a>
                <a id="game-market-btn" data-toggle="list" href="#game-market" role="tab" aria-controls="game-market">Market</a>
                <a id="game-news-btn" data-toggle="list" href="#game-news" role="tab" aria-controls="game-news">News</a>
            </div>
        </section>
        <section class="game-plane">
            <div class="big-background">
                <div class="head"></div>
                <div class="top-left"></div>
                <div class="top-middle"></div>
                <div class="top-right"></div>
                <div class="middle-left"></div>
                <div class="middle-right"></div>
                <div class="bottom-left" style="visibility: hidden;"></div>
                <div class="bottom-middle" style="visibility: hidden;"></div>
                <div class="bottom-right" style="visibility: hidden;"></div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane " id="game-character" role="tabpanel" aria-labelledby="game-character-btn">
                </div>
                <div class="tab-pane" id="game-backpack" role="tabpanel" aria-labelledby="game-backpack-btn">
                </div>
                <div class="tab-pane" id="game-battle" role="tabpanel" aria-labelledby="game-battle-btn">
                </div>
                <div class="tab-pane" id="game-market" role="tabpanel" aria-labelledby="game-market-btn">
                </div>
                <div class="tab-pane" id="game-news" role="tabpanel" aria-labelledby="game-news-btn">
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            $(".list-group").children().each(function (i, v) {
                document.cookie = $(v).attr("aria-controls") + "=false"
            })

            let componentId = "game-" + "@ViewBag.menu";
            let action = componentId.split('-')[1];
            let controller = "Game";
            let data = { cId: @Model.ID };
            ReloadComponent(componentId, action, controller, data);
            $("#"+componentId + "-btn").addClass("active");
            $("#" + componentId).addClass("show active");


            $(".list-group a").click(function () {
                let componentId = this.attributes.getNamedItem("aria-controls").value;
                let action = componentId.split('-')[1];
                let controller = "Game";
                let data = { cId: @Model.ID };
                ReloadComponent(componentId, action, controller, data);

            });
        })


    </script>
    
}