@model DivineMonad.Models.Character


<div class="game-page">
    <div class="game-container">
        <div class="game-sidebar-character">
            <div class="game-avatar">
                <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                     class="character-avatar" alt="avatar">
            </div>
            <div class="game-character-info">
                <p class="text-truncate">
                    Name: @Model.Name <br />
                    Level: @Model.CBStats.Level <br />
                    HP: 16 567 / 20 000 <br />
                    Exp.: @Model.CBStats.Experience
                </p>
            </div>
        </div>
        <div class="game-sidebar-menu">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="game-character-btn" data-toggle="list" href="#game-character" role="tab" aria-controls="game-character">Character</a>
                <a class="list-group-item list-group-item-action" id="game-backpack-btn" data-toggle="list" href="#game-backpack" role="tab" aria-controls="game-backpack">Backpack</a>
                <a class="list-group-item list-group-item-action" id="game-battle-btn" data-toggle="list" href="#game-battle" role="tab" aria-controls="game-battle">Battle</a>
                <a class="list-group-item list-group-item-action" id="game-market-btn" data-toggle="list" href="#game-market" role="tab" aria-controls="game-market">Market</a>
                <a class="list-group-item list-group-item-action" id="game-news-btn" data-toggle="list" href="#game-news" role="tab" aria-controls="game-news">News</a>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
            </div>
        </div>
        <div class="game-plane">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane " id="game-character" role="tabpanel" aria-labelledby="game-character-btn">
                </div>
                <div class="tab-pane" id="game-backpack" role="tabpanel" aria-labelledby="game-backpack-btn">
                </div>
                <div class="tab-pane" id="game-battle" role="tabpanel" aria-labelledby="game-battle-btn">
                </div>
                <div class="tab-pane" id="game-market" role="tabpanel" aria-labelledby="game-market-btn">
                </div>
                <div class="tab-pane" id="game-news" role="tabpanel" aria-labelledby="game-news-btn">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(".list-group-item").click(function () {
            let componentId = this.attributes.getNamedItem("aria-controls").value;
            let action = componentId.split('-')[1];
            let controller = "Game";
            let data = { cId: @Model.ID };
            ReloadComponent(componentId, action, controller, data);
        });

        $("#test").click(function () {
            console.log("TEST!");
        });

        $(document).ready(function () {
            let componentId = "game-" + "@ViewBag.menu";
            $("#"+componentId + "-btn").addClass("active");
            $("#" +componentId).addClass("show active");
        
        })
    </script>
    
}