@model DivineMonad.Models.Character


<div class="game-page">
    <div class="game-container">
        <section class="game-sidebar-character">
            <div class="game-avatar">
                <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                     class="character-avatar" alt="avatar">
            </div>
            <div class="game-character-info">
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Name</legend>
                    <p>@Model.Name</p>
                </fieldset>
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Level</legend>
                    <p>@Model.CBStats.Level</p>
                </fieldset>
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Experience</legend>
                    <p>@Model.CBStats.Experience</p>
                </fieldset>
                <fieldset class="custom-fieldset">
                    <legend class="text-center custom-legend">Gold</legend>
                    <p>@Model.CBStats.Gold</p>
                </fieldset>
            </div>
        </section>
        <section class="game-sidebar-menu">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="game-character-btn" data-toggle="list" href="#game-character" role="tab" aria-controls="game-character">Character</a>
                <a class="list-group-item list-group-item-action" id="game-backpack-btn" data-toggle="list" href="#game-backpack" role="tab" aria-controls="game-backpack">Backpack</a>
                <a class="list-group-item list-group-item-action" id="game-battle-btn" data-toggle="list" href="#game-battle" role="tab" aria-controls="game-battle">Battle</a>
                <a class="list-group-item list-group-item-action" id="game-market-btn" data-toggle="list" href="#game-market" role="tab" aria-controls="game-market">Market</a>
                <a class="list-group-item list-group-item-action" id="game-news-btn" data-toggle="list" href="#game-news" role="tab" aria-controls="game-news">News</a>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
                <button type="button" class="list-group-item list-group-item-action disabled">&nbsp;</button>
            </div>
        </section>
        <section class="game-plane">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane " id="game-character" role="tabpanel" aria-labelledby="game-character-btn">
                </div>
                <div class="tab-pane" id="game-backpack" role="tabpanel" aria-labelledby="game-backpack-btn">
                </div>
                <div class="tab-pane" id="game-battle" role="tabpanel" aria-labelledby="game-battle-btn">
                </div>
                <div class="tab-pane" id="game-market" role="tabpanel" aria-labelledby="game-market-btn">
                </div>
                <div class="tab-pane" id="game-news" role="tabpanel" aria-labelledby="game-news-btn">
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            let componentId = "game-" + "@ViewBag.menu";
            let action = componentId.split('-')[1];
            let controller = "Game";
            let data = { cId: @Model.ID };
            ReloadComponent(componentId, action, controller, data);
            $("#"+componentId + "-btn").addClass("active");
            $("#" + componentId).addClass("show active");


            $(".list-group-item").click(function () {
                let componentId = this.attributes.getNamedItem("aria-controls").value;
                let action = componentId.split('-')[1];
                let controller = "Game";
                let data = { cId: @Model.ID };
                ReloadComponent(componentId, action, controller, data);
            });
        })
    </script>
    
}