@model DivineMonad.Models.MarketViewModel

@{ 
    Layout = "_SubLayout";
    Item item;
    CharacterItems cItem;
    string emptySlot = "";
    int countMarket = 0;
}

<div class="game-content-market">
    <div class="row">
        <div class="col-6 market medium-border">
            <div class="row justify-content-center">
                @foreach (var mItem in Model.MarketItems)
                {
                    item = mItem.Item;
                    countMarket += 1;
                    <div class="col-2 item-slot">
                        <img src="@Url.Content(item.ImageUrl)" class="img-item" alt="item" id="@item.ID">
                    </div>
                }
                @for (int i = countMarket; i < 9; i++)
                {
                    <div class="col-2 item-slot">
                        <img src="@Url.Content("~/images/bg_item.png")" class="img-item empty-slot" alt="item">
                    </div>
                }
            </div>
        </div>
        <div class="col-5 market-info medium-border offset-1">
            <div class="row" style="height: 82%;">
                <div class="col-12 stats"></div>
            </div>
            <div class="row trade justify-content-center">
                <div class="m-1">
                    <button id="sell" type="button" class="btn-std">Sell</button>
                </div>
                <div class="m-1">
                    <button id="buy" type="button" class="btn-std">Buy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 backpack medium-border">
            <div class="row">
                @for (int slotId = 7; slotId <= Model.Character.CBStats.BpSlots + 6; slotId++)
                {
                    cItem = Model.CharacterItemsList.FirstOrDefault(i => i.BpSlotId == slotId && i.IsEquipped == false);
                    if (!(cItem is null))
                    {
                        item = Model.ItemsList.FirstOrDefault(i => i.ID == cItem.ItemId);
                        if (!(item is null))
                        {
                            <div class="col-2 item-slot">
                                <img src="@Url.Content(item.ImageUrl)" class="img-item" alt="item" id="@slotId">
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-2 item-slot">
                            <img src="@Url.Content("~/images/bg_item.png")" class="img-item empty-slot" alt="item" id="@slotId">
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $("#game-market .backpack .item-slot").click(function (e) {
                    $(".market .img-item").removeClass("active-item");
                    if ($(e.target).hasClass("empty-slot")) {
                        if ($(".img-item").hasClass("active-item")) {
                            let data = { cId: @Model.Character.ID, from: $(".active-item").attr("id"), to: e.target.id, isEmpty: true };
                            $.ajax({
                                url: "/Game/SlotsChange",
                                data: data,
                                success: function (data) {
                                    if (data.valid) {
                                        console.log(data.option + ": " + data.from + " | " + data.to);

                                        let tempSrcFrom = $("#" + data.from).attr("src");
                                        let tempSrcTo = $("#" + data.to).attr("src");
                                        $("#" + data.from).attr("src", tempSrcTo);
                                        $("#" + data.to).attr("src", tempSrcFrom);
                                        $("#" + data.from).addClass("empty-slot");
                                        $("#" + data.to).removeClass("empty-slot");
                                    }
                                    else {
                                        console.log("NOT VALID!");
                                    }
                                }
                            });


                            $(".img-item").removeClass("active-item");
                        } else {
                            console.log("Clicked slot: empty");
                        }
                    } else {
                        if ($(".img-item").hasClass("active-item")) {
                            let data = { cId: @Model.Character.ID, from: $(".active-item").attr("id"), to: e.target.id, isEmpty: false };
                            $.ajax({
                                url: "/Game/SlotsChange",
                                data: data,
                                success: function (data) {
                                    if (data.valid) {
                                        console.log(data.option + ": " + data.from + " | " + data.to);

                                        let tempSrcFrom = $("#" + data.from).attr("src");
                                        let tempSrcTo = $("#" + data.to).attr("src");
                                        $("#" + data.from).attr("src", tempSrcTo);
                                        $("#" + data.to).attr("src", tempSrcFrom);
                                    }
                                    else {
                                        console.log("NOT VALID!");
                                    }
                                }
                            });

                            $(".img-item").removeClass("active-item");
                        } else {
                            console.log("send slot");
                            let data = { cId: @Model.Character.ID, bpSlotId: e.target.id };
                            $.ajax({
                                url: "/Game/ItemInfo",
                                data: data,
                                success: function (data) {
                                    $(".stats").html(data);
                                }
                            });
                            $(e.target).addClass("active-item");
                        }
                    }
                });


                $("#game-market .market .item-slot").click(function (e) {
                    $(".img-item").removeClass("active-item");
                    if (!$(e.target).hasClass("empty-slot")) {
                        console.log("send ID");
                        let data = { cId: @Model.Character.ID, iId: e.target.id };
                        $.ajax({
                            url: "/Game/ItemInfo",
                            data: data,
                            success: function (data) {
                                $(".stats").html(data);
                            }
                        });
                        $(e.target).addClass("active-item");
                    }
                });


                $("#game-market .game-plane").click(function (e) {
                    if (!$(e.target).hasClass("img-item")) {
                        $(".img-item").removeClass("active-item");
                    }
                });
        });
        </script>
    }
