@model DivineMonad.Models.RaportViewModel

@{ 
    Layout = "_SubLayout";
    int n = 1;
}

<div class="game-content-raport">
    <div class="row opponent mb-4">
        <div class="col">
            <img src="@Url.Content(Model.Opponent.ImageUrl)"
                 class="character-avatar" alt="avatar">
        </div>
    </div>
    <div class="row hidden raport vertical-scroll">
        <div class="col">
            <div id="hidden-raport">
                <p>The fight between @Model.Player.Name and @Model.Opponent.Name has begun.</p>
                @foreach (var round in Model.Raport.Rounds)
                {
                    <div id="@n">
                        @round.Attacker.Name <span>inflict a hit for @round.Attacker.Damage damage.</span> <br />
                        @round.Defender.Name <span>takes @round.Defender.Receive damage and is left with @round.Defender.HP HP.</span>
                        <p></p>
                    </div>
                    n++;
                }
                @if (Model.Raport.Result == "draw")
                {
                    <div id="@n" class="mt-1">
                        <p>The fight ended in a draw</p>
                    </div>
                }
                else
                {
                    <div id="@n" class="mt-1">
                        <p>@Model.Player.Name <span></span> @Model.Raport.Result <span> the fight.</span></p>
                    </div>
                    if (Model.Raport.Result == "win")
                    {
                        <div id="@(n+1)" class="mt-1">
                            Reward: <br />
                            Gold: @Model.Raport.Reward.Gold G <br />
                            Exp.: @Model.Raport.Reward.Experience exp <br />
                            @if (!(Model.Raport.Reward.ItemName is null))
                            {
                                <span>Item: @Model.Raport.Reward.ItemName *@Model.Raport.Reward.ItemRarity*</span>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row shown raport vertical-scroll">
        <div class="col" id="shown-raport">
            <p>The fight between @Model.Player.Name and @Model.Opponent.Name has begun.</p>
        </div>
    </div>
    <div class="row player mt-4">
        <div class="col">
            <div class="float-right">
                <img src="@Url.Content(Model.Player.AvatarUrl)"
                     class="character-avatar" alt="avatar">
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function (e) {
            console.log("TEST!");
            var quickFight = '@(Model.Raport.QuickFight)' === '@true';
            $("html").animate({ scrollTop: 0 }, 100);

            let hiddenRaport = $("#hidden-raport").children();
            let shownRaport = $("#shown-raport");
            let i = 1;
            let tempo = 100;
            if (quickFight) tempo = 10;
            let interval = setInterval(function () {
                if (i < hiddenRaport.length) {
                    console.log("test2");
                    $(hiddenRaport[i]).hide().appendTo(shownRaport).fadeIn(10 * tempo);
                    if (i > 3) {
                        $(".shown").animate({ scrollTop: $("#shown-raport").height() }, 10 * tempo);
                    }
                } else {
                    updateCharacterInfo(@ViewBag.gold, @ViewBag.exp, @ViewBag.reqExp, @ViewBag.level);
                    clearInterval(interval)
                }
                i++;
            }, 15 * tempo);
        });
    </script>
}