@model DivineMonad.Engine.Raport.RaportGenerator

@{ 
    Layout = "_SubLayout";
}

<div class="game-content-raport">
    <div class="row opponent mb-4">
        <div class="col">
            <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                 class="character-avatar" alt="avatar">
        </div>
    </div>
    <div class="row raport vertical-scroll">
        <div class="col">
            <p>The fight between @Model.Player.Name and @Model.Opponent.Name has begun.</p>
            @foreach (var round in Model.Rounds)
            {
                @round.Attacker.Name <span>inflict a hit for @round.Attacker.Damage damage.</span> <br />
                @round.Defender.Name <span>takes @round.Defender.Receive damage and is left with @round.Defender.HP HP.</span>
                <p></p>
            }
            <br />
            @if (Model.Result == "draw")
            {
                <p>The fight ended in a draw</p>
            }else
            {
                @Model.Player.Name <span></span> @Model.Result <span> the game.</span>
            }
            <br />
        </div>
    </div>
    <div class="row player mt-4">
        <div class="col">
            <div class="float-right">
                <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                     class="character-avatar" alt="avatar">
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $('button').click(function () {
            console.log("WAS CLICKED!");
        });
    </script>
}