@model DivineMonad.Engine.Raport.RaportGenerator

@{ 
    Layout = "_SubLayout";
    int n = 1;
}

<div class="game-content-raport">
    <div class="row opponent mb-4">
        <div class="col">
            <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                 class="character-avatar" alt="avatar">
        </div>
    </div>
    <div class="row quick raport vertical-scroll" style="display: none;">
        <div class="col">
            <div id="quick-raport">
                <p>The fight between @Model.Player.Name and @Model.Opponent.Name has begun.</p>
                @foreach (var round in Model.Rounds)
                {
                    <div id="@n">
                        @round.Attacker.Name <span>inflict a hit for @round.Attacker.Damage damage.</span> <br />
                        @round.Defender.Name <span>takes @round.Defender.Receive damage and is left with @round.Defender.HP HP.</span>
                        <p></p>
                    </div>
                    n++;
                }
                @if (Model.Result == "draw")
                {
                    <div id="@n" class="mt-1">
                        <p>The fight ended in a draw</p>
                    </div>
                }
                else
                {
                    <div id="@n" class="mt-1">
                        <p>@Model.Player.Name <span></span> @Model.Result <span> the game.</span></p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row slow raport vertical-scroll">
        <div class="col" id="slow-raport">
            <p>The fight between @Model.Player.Name and @Model.Opponent.Name has begun.</p>
        </div>
    </div>
    <div class="row player mt-4">
        <div class="col">
            <div class="float-right">
                <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                     class="character-avatar" alt="avatar">
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function (e) {
            var quickRaport = $("#quick-raport").children();
            var slowRaport = $("#slow-raport");
            var i = 1;

            var interval = setInterval(function () {
                if (i < quickRaport.length) {
                    $(quickRaport[i]).hide().appendTo(slowRaport).fadeIn(1000);
                    $(".slow").animate({ scrollTop: $("#slow-raport").height() }, "slow");
                } else {
                    clearInterval(interval)
                }
                i++;
            }, 1000);
        });
    </script>
}