@model DivineMonad.Models.RaportsViewModel

@{
    Layout = "_SubLayout";
    string[] subRaportName;
    string result;
    DateTime dt;
    string backgroundColor;
}

<div class="game-content-raports">
    <div class="row justify-content-center medium-border">
        <div class="col-12 list-group p-0">
            @foreach (string raportName in Model.RaportsNames)
            {
                subRaportName = raportName.Split("_");
                result = subRaportName[3] == "0" ? "lose" : subRaportName[3] == "1" ? "draw" : "win";
                backgroundColor = subRaportName[3] == "0" ? "#ffebeb" : subRaportName[3] == "1" ? "#fffdeb" : "#eeffeb";
                dt = new DateTime(Int64.Parse(subRaportName[4].Substring(0, subRaportName[4].IndexOf(".json"))));
                <button type="button" class="row list-group-item list-group-item-action"
                        style="background-color: @backgroundColor;" id="@raportName.Substring(0,raportName.IndexOf(".json"))">
                    <div class="col-6">@Model.Character.Name vs. @Model.MonstersList.Where(m => m.ID == Int32.Parse(subRaportName[1])).FirstOrDefault().Name</div>
                    <div class="col-2 p-0">[ @result ]</div>
                    <div class="col-4 p-0">@dt.ToString()</div>
                    <div class="overlay"></div>
                </button>
            }
        </div>
    </div>
</div>
@*int cId, int? mId, bool? qf, bool isHistory, string raportName*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#game-raports button").click(function (e) {
                console.log(this.id);
                let raportName = this.id + ".json";
                let componentId = "game-raports";
                let action = "Raport";
                let controller = "Game";
                let data = { cId: @ViewBag.cId, isHistory: true, raportName };
                ReloadComponent(componentId, action, controller, data);
            });
        });
    </script>
}