@model DivineMonad.Models.RaportViewModel

@{ 
    Layout = "_SubLayout";
    int n = 1;
}

<div class="game-content-raport">
    <div class="row opponent mb-4">
        <div class="col">
            <img src="@Url.Content(Model.Opponent.ImageUrl)"
                 class="character-avatar" alt="avatar">
        </div>
    </div>
    <div class="row quick raport vertical-scroll">
        <div class="col">
            <div id="quick-raport">
                <p>The fight between @Model.Player.Name and @Model.Opponent.Name has begun.</p>
                @foreach (var round in Model.Raport.Rounds)
                {
                    <div id="@n">
                        @round.Attacker.Name <span>inflict a hit for @round.Attacker.Damage damage.</span> <br />
                        @round.Defender.Name <span>takes @round.Defender.Receive damage and is left with @round.Defender.HP HP.</span>
                        <p></p>
                    </div>
                    n++;
                }
                @if (Model.Raport.Result == "draw")
                {
                    <div id="@n" class="mt-1">
                        <p>The fight ended in a draw</p>
                    </div>
                }
                else
                {
                    <div id="@n" class="mt-1">
                        <p>@Model.Player.Name <span></span> @Model.Raport.Result <span> the fight.</span></p>
                    </div>
                    if (Model.Raport.Result == "win")
                    {
                        <div id="@(n+1)" class="mt-1">
                            Reward: <br />
                            Gold: @Model.Raport.Reward.Gold G <br />
                            Exp.: @Model.Raport.Reward.Experience exp <br />
                            @if (!(Model.Raport.Reward.ItemName is null))
                            {
                                <span>Item: @Model.Raport.Reward.ItemName *@Model.Raport.Reward.ItemRarity*</span>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row slow raport vertical-scroll">
        <div class="col" id="slow-raport">
            <p>The fight between @Model.Player.Name and @Model.Opponent.Name has begun.</p>
        </div>
    </div>
    <div class="row player mt-4">
        <div class="col">
            <div class="float-right">
                <img src="@Url.Content(Model.Player.AvatarUrl)"
                     class="character-avatar" alt="avatar">
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function (e) {
            var quickFight = '@(Model.Raport.QuickFight)' === '@true';
            $("html").animate({ scrollTop: 0 }, 100);

            var quickRaport = $("#quick-raport").children();
            var slowRaport = $("#slow-raport");
            var i = 1;

            if (quickFight) {
                $(".slow").css({ display: "none" });
                $(".quick").animate({ scrollTop: $("#quick-raport").height() }, 1000);
                updateCharacterInfo();
            } else {
                $(".quick").css({ display: "none" });

                var interval = setInterval(function () {
                    if (i < quickRaport.length) {
                        $(quickRaport[i]).hide().appendTo(slowRaport).fadeIn(1000);
                        if (i > 3) {
                            $(".slow").animate({ scrollTop: $("#slow-raport").height() }, 1000);
                        }
                    } else {
                        updateCharacterInfo(@ViewBag.gold, @ViewBag.exp, @ViewBag.reqExp, @ViewBag.level);
                        clearInterval(interval)
                    }
                    i++;
                }, 1500);
            }
        });
    </script>
}