@model DivineMonad.Models.ItemCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ItemCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Armor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Armor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gloves)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gloves)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Helmet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Helmet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weapon1H)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon1H)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weapon2H)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon2H)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shield)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a href='javascript:history.go(-1)'>Back</a>
</div>
