@model IEnumerable<DivineMonad.Models.GameStats>

@{
    ViewData["Title"] = "Game Stats";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Characters Game Statictics</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonsterKills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectedGold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeathsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LostFights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinFights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawFights)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MonsterKills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectedGold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeathsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostFights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinFights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawFights)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>

<a asp-controller="Home" asp-action="Index">Back to Admin home page</a>
