@model IEnumerable<DivineMonad.Models.Character>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@functions {
    public string FindUser(string id)
    {
        return (from user in ViewData["Users"] as SelectList
                where user.Value == id
                select user.Text).FirstOrDefault();
    }
}


<h1>Characters</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="horizontal-scroll">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    User
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CBStats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GStats)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @FindUser(item.UserId)
                    </td>
                    <td>
                        <a asp-controller="CharactersGameStats" asp-action="Details" asp-route-id="@item.GStatsId">Details</a>
                    </td>
                    <td>
                        <a asp-controller="CharactersBaseStats" asp-action="Details" asp-route-id="@item.CBStatsId">Details</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Back to Admin home page</a>
